extends layout.pug

block number1
    div.container
        h1.title All the tasks 
        if deleted 
            p.success Deleted Successfully 
        
        div.bottom
            if bottom.length
                each text in bottom
                    div.container 
                        p.text 
                            if text.done
                                a.done(href=`/${ text.id }/update`) #{ text.description }
                            else 
                                a.undone(href=`/${ text.id }/update`) #{ text.description }
                            a.delete(href=`/${ text.id }/delete`) Delete
            else 
                p.text No any tasks available